<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Full Report</title>

    <%- include('partials/jquery.ejs'); %>
</head>

<body>
    <h1>View Full Report</h1>

    <p id="report_id" data-id="<%= report.report_id %>">Report ID: <%= report.report_id %>
    </p>
    <label for="message">Send Message</label>
    <input type="text" name="message" id="message">
    <button id="send_message">Send</button>

    <script data-report="<%= JSON.stringify(report) %>"">
        var report = JSON.parse(document.currentScript.dataset.report);;
        console.log(report);
        document.append(document.createElement('p').textContent = report.title);
    </script>

    <script src=" /js/send_message.js"></script>

</body>

</html>